<ion-header>
  <ion-navbar>
    <ion-title>Mercado</ion-title>
    <ion-buttons end>
    <button ion-button icon-only (tap) = "onAdd ()">
      <ion-icon name='ios-add-circle-outline'></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items" (tap) = "selectItem (item)">
      <div *ngIf = "item.needed == 1">
        <h1>{{ item.name }}</h1>
        <p>{{ item.description }}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
